* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 40em;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
}

.content {
    font-size: 4em;
}
