/me2
/bin/
/build/
/.venv/

/example/**/build/
/example/**/coverage/
/example/**/.nyc_output/
/example/**/data/db/

vendor/
node_modules/
package-lock.json
npm-debug.log

__pycache__
*.pyc

# Mac OS
.DS_Store
