@import url('https://fonts.googleapis.com/css?family=Poor+Story');

.root {
    width: 50rem;
    height: 50rem;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #001f3f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.message-board p {
    float: right;
}

.fetch-message-button {
    background-color: #ff851b;
    color: white;
    padding: 0.6rem 2rem;
    font-size: 2rem;
    border: none;
    font-family: 'Poor Story', cursive;
}
