<div class="game-board">
    <div class="board-row">
        <app-square [index]="0"></app-square>
        <app-square [index]="1"></app-square>
        <app-square [index]="2"></app-square>
    </div>
    <div class="board-row">
        <app-square [index]="3"></app-square>
        <app-square [index]="4"></app-square>
        <app-square [index]="5"></app-square>
    </div>
    <div class="board-row">
        <app-square [index]="6"></app-square>
        <app-square [index]="7"></app-square>
        <app-square [index]="8"></app-square>
    </div>
</div>
