extend layout.pug

block main
    h1 My home page
    p This is a plain paragraph with a url. Here comes <a href="/test/page">the actual link</a>.
    p Here is a image <img id="image" src="/img/mos.jpg">.
