doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= message
        p This is a plain paragraph with a url. Here comes <a href="/test/page">the actual link</a>.
        p Here is a image <img id="image" src="/img/mos.jpg">.

        script(src="/js/move.js")
